#tab-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--green);
  width: 350px;
  height: 250px;
}

.tab-buttons {
  position: relative;
  background-color: transparent;
  height: 50px;
  width: 50px;
  z-index: 1;
  border-radius: 50%;
  border: solid 1px #fff;
  margin: 0px 5px;
  overflow: hidden;
  transition: all 0.2s ease-in;
}

.tab-buttons:hover {
  background-color: #4f9a48;
}

.tab-buttons::before {
  position: absolute;
  content: "";
  height: 0%;
  width: 0%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.tab-buttons.active {
  color: var(--grey);
}

.tab-buttons.active::before {
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-out;
}
