@font-face {
  font-family: "Grandstander";
  src: url("../fonts/Grandstander/Grandstander.ttf") format("truetype");
}

@font-face {
  font-family: "Grandstander Italic";
  src: url("../fonts/Grandstander/Grandstander-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoThin";
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/Roboto/Roboto-Mono.ttf") format("truetype");
}
